{{- $isxfce := false -}}
{{- $ismate := false -}}

{{- if (env "ISXFCE") -}}
{{- $isxfce = true -}}
{{- end }}

{{- if (env "ISMATE") -}}
{{- $ismate = true -}}
{{- end }}

{{- $email := promptString "email" -}}
{{- $githubemail := promptString "githubemail" -}}
{{- $githubusername := promptString "githubusername" -}}

[data]
  githubemail = "{{ $githubemail }}"
  githubusername = "{{ $githubusername }}"
  email = "{{ $email }}"
  isxfce = {{ $isxfce }}
  ismate = {{ $ismate }}

[gpg]
  recipient = "{{ .email }}"
  symemtric = true

encryption = "gpg"
