#!/bin/sh

"pcmanfm"
  Mod4 + Shift + Return

"alacritty"
  Mod4 + Return

"rofi -show run -font 'Noto Sans 13'"
  Mod4 + d

"amixer -q set Master 2%- unmute"
  XF86AudioLowerVolume

"amixer -q set Master 2%+ unmute"
  XF86AudioRaiseVolume

"amixer -q -D pulse set Master toggle"
  XF86AudioMute

"playerctl play-pause"
  XF86AudioPlay

"playerctl next"
  XF86AudioNext

"playerctl previous"
  XF86AudioPrev

{{- if (eq .chezmoi.hostname "devbox") }}
"multiscreen.sh tripleScreen"
  Mod4 + Shift + y

"multiscreen.sh dualRightScreen"
  Mod4 + Shift + u

"multiscreen.sh dualLeftScreen"
  Mod4 + Shift + t
{{- end }}

{{- if (eq .chezmoi.hostname "gamebox") }}
"multiscreen.sh dualScreen"
  Mod4 + Shift + y
{{- end }}

{{- if (or ( eq .chezmoi.hostname "devbox") (eq .chezmoi.hostname "gamebox")) }}
"multiscreen.sh singleRightScreen"
  Mod4 + Shift + j

"multiscreen.sh singleLeftScreen"
  Mod4 + Shift + g
{{- end }}
