{{ if .isxfce }}
[org/xfce/mousepad/preferences/file]
add-last-end-of-line=true

[org/xfce/mousepad/preferences/view]
auto-indent=true
color-scheme='oblivion'
highlight-current-line=true
indent-width=2
insert-spaces=true
match-braces=true
show-line-endings=true
show-line-marks=true
show-line-numbers=true
show-right-margin=true
show-whitespace=true
smart-backspace=true
tab-width=uint32 2
word-wrap=true

[org/xfce/mousepad/preferences/view/show-whitespace]
inside=false

[org/xfce/mousepad/preferences/window]
statusbar-visible=true
toolbar-visible=false
{{ end }}
{{ if .ismate }}
[caja/desktop]
font='Noto Sans 11'

[caja/extensions]
disabled-extensions=['libcaja-sendto', 'libcaja-wallpaper', 'libcaja-user-share', 'libatril-properties-page']

[caja/icon-view]
default-use-tighter-layout=true

[caja/list-view]
default-column-order=['name', 'size', 'type', 'date_modified', 'date_accessed', 'date_created', 'where', 'extension', 'group', 'permissions', 'octal_permissions', 'owner', 'size_on_disk', 'mime_type', 'Xattr::Tags']
default-visible-columns=['name', 'size', 'type', 'date_modified']

[caja/preferences]
date-format='informal'
default-folder-viewer='list-view'
show-icons-in-list-view=true
sort-directories-first=false
use-iec-units=false

[caja/window-state]
sidebar-width=184
start-with-location-bar=true
start-with-sidebar=true
start-with-status-bar=true
start-with-toolbar=true

[desktop/accessibility/keyboard]
bouncekeys-beep-reject=true
bouncekeys-delay=300
bouncekeys-enable=false
enable=false
feature-state-change-beep=false
mousekeys-accel-time=1200
mousekeys-enable=false
mousekeys-init-delay=160
mousekeys-max-speed=750
slowkeys-beep-accept=true
slowkeys-beep-press=true
slowkeys-beep-reject=false
slowkeys-delay=300
slowkeys-enable=false
stickykeys-enable=false
stickykeys-latch-to-lock=true
stickykeys-modifier-beep=true
stickykeys-two-key-off=true
timeout=120
timeout-enable=false
togglekeys-enable=false

[desktop/background]
color-shading-type='solid'
picture-filename='/usr/share/backgrounds/archlinux/simple.png'
picture-options='zoom'
primary-color='rgb(51,51,51)'
secondary-color='rgb(60,143,37)'

[desktop/file-sharing]
require-password='never'

[desktop/font-rendering]
antialiasing='rgba'
hinting='slight'

[desktop/interface]
document-font-name='Noto Sans 12'
font-name='Noto Sans 12'
gtk-color-scheme='menu_bg: #383c4a'
gtk-decoration-layout=':minimize,maximize,close'
gtk-theme='Arc-Dark'
icon-theme='Papirus-Dark'
monospace-font-name='Noto Sans Mono 12'

[desktop/peripherals/keyboard]
numlock-state='on'

[desktop/peripherals/mouse]
accel-profile='adaptive'
cursor-theme='Adwaita'
motion-acceleration=5.1772151898734178

[desktop/session]
idle-delay=1
session-start=1631378971

[marco/general]
action-double-click-titlebar='toggle_maximize'
button-layout=':minimize,maximize,close'
focus-mode='mouse'
theme='Arc-Dark'
titlebar-font='Noto Sans Bold 12'

[notification-daemon]
do-not-disturb=false
popup-location='top_right'
theme='standard'
use-active-monitor=true

[panel/general]
object-id-list=['menu-bar', 'notification-area', 'clock', 'show-desktop', 'window-list', 'workspace-switcher']
toplevel-id-list=['top', 'bottom']

[panel/objects/clock]
applet-iid='ClockAppletFactory::ClockApplet'
locked=true
object-type='applet'
panel-right-stick=true
position=0
toplevel-id='top'

[panel/objects/clock/prefs]
custom-format=''
format='24-hour'

[panel/objects/menu-bar]
locked=true
object-type='menu-bar'
position=0
toplevel-id='top'

[panel/objects/notification-area]
applet-iid='NotificationAreaAppletFactory::NotificationArea'
locked=true
object-type='applet'
panel-right-stick=true
position=10
toplevel-id='top'

[panel/objects/notification-area/prefs]
min-icon-size=20

[panel/objects/show-desktop]
applet-iid='WnckletFactory::ShowDesktopApplet'
locked=true
object-type='applet'
position=0
toplevel-id='bottom'

[panel/objects/window-list]
applet-iid='WnckletFactory::WindowListApplet'
locked=true
object-type='applet'
position=20
toplevel-id='bottom'

[panel/objects/workspace-switcher]
applet-iid='WnckletFactory::WorkspaceSwitcherApplet'
locked=true
object-type='applet'
panel-right-stick=true
position=0
toplevel-id='bottom'

[panel/toplevels/bottom]
expand=true
orientation='bottom'
screen=0
size=24
y=1026
y-bottom=0

[panel/toplevels/top]
expand=true
orientation='top'
screen=0
size=24

[power-manager]
button-lid-ac='suspend'
button-power='interactive'
button-suspend='nothing'
sleep-display-ac=0

[screensaver]
idle-activation-enabled=false
lock-enabled=false
mode='blank-only'
picture-filename='/usr/share/backgrounds/archlinux/simple.png'
themes=@as []
{{ end }}
[org/x/editor/plugins]
active-plugins=['open-uri-context-menu', 'filebrowser', 'joinlines', 'wordcompletion', 'spell', 'bracketcompletion', 'docinfo', 'modelines', 'taglist', 'time', 'sort', 'textsize']

[org/x/editor/preferences/editor]
auto-indent=true
bracket-matching=true
display-line-numbers=true
display-right-margin=true
draw-whitespace=true
draw-whitespace-newline=true
draw-whitespace-trailing=true
insert-spaces=true
highlight-current-line=true
prefer-dark-theme=true
right-margin-position=uint32 100
scheme='oblivion'
tabs-size=uint32 2
wrap-mode='char'

[org/x/editor/preferences/ui]
enable-tab-scrolling=true
minimap-visible=false
statusbar-visible=true
