[General]
addGPGId=true
alwaysOnTop=false
autoPull=true
autoPush=true
autoclearPanelSeconds=10
autoclearSeconds=10
avoidCapitals=false
avoidNumbers=false
clipBoardType=0
gitExecutable=/sbin/git
gpgExecutable=/sbin/gpg2
hideContent=false
hideOnClose=false
hidePassword=false
lessRandom=false
passExecutable=/sbin/pass
passStore={{ .chezmoi.homeDir }}/.password-store/
passTemplate=login\nurl
passwordChars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890
passwordCharsselection=2
passwordLength=28
pwgenExecutable=/sbin/pwgen
startMinimized=false
templateAllFields=false
useAutoclear=false
useAutoclearPanel=false
useGit=true
useOtp=false
usePass=true
usePwgen=true
useQrencode=false
useSelection=false
useSymbols=false
useTemplate=false
useTrayIcon=true
version=1.3.2
