[General]
addGPGId=true
alwaysOnTop=false
autoPull=false
autoPush=false
autoclearPanelSeconds=10
autoclearSeconds=10
avoidCapitals=false
avoidNumbers=false
clipBoardType=1
gitExecutable=/usr/bin/git
gpgExecutable=/usr/bin/gpg2
hideContent=false
hideOnClose=false
hidePassword=false
lessRandom=false
passExecutable=/usr/bin/pass
passStore=/home/titux/.password-store/
passTemplate=login\nurl
passwordChars="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890~!@#$%^&*()_-+={}[]|:;<>,.?"
passwordCharsselection=0
passwordLength=8
pwgenExecutable=/usr/bin/pwgen
startMinimized=false
templateAllFields=false
useAutoclear=true
useAutoclearPanel=false
useGit=true
useOtp=false
usePass=true
usePwgen=true
useQrencode=false
useSelection=true
useSymbols=false
useTemplate=false
useTrayIcon=false
version=1.3.2
